---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import Ava from '@src/assets/img/ava.jpg';
import Prose from '../components/Prose.astro';
---

<BaseLayout title='About Me' description='Lorem ipsum dolor sit amet'>
	<div class='container'>
		<main class='prose text-lg dark:prose-invert'>
			<article>
				<div class='w-full md:flex md:items-center gap-16 mb-10'>
					<div class='text-pretty leading-9'>
						<h1 class='text-4xl font-bold mb-4'>Hi There 👋, tkHWANG Here!</h1>
						<Prose>
							<div class='text-lg'>
								<p>...</p>
							</div>
						</Prose>
					</div>
				</div>
				<Image
					src='https://gravatar.com/userimage/2531295/7d63de5df4ed2769fb960b82211d3dd3.jpeg?size=300'
					alt='tkhwang'
					width={300}
					height={300}
					class='rounded-3xl rotate-3 mx-4 md:mx-0'
				/>
			</article>
		</main>
	</div>
</BaseLayout>
