---
import BaseLayout from "@layouts/BaseLayout.astro";
import NavWrapper from "@components/NavigationWrapper.astro";
import Heading from "@components/Heading.astro";
import LatestPosts from "@components/LatestPosts.astro";
import Featured from "@components/Featured.astro";
import RecentProjects from "@components/RecentProjects.astro";
import WorkExperiences from "@components/WorkExperiences.astro";
import DetailsQuote from "@components/DetailsQuote";

const pageTitle: string = "Where Code Meets Design";
---

<BaseLayout pageTitle={pageTitle}>
  <header>
    <NavWrapper />
  </header>
  <hr />
  <main class="container">
    <section>
      <hgroup>
        <h1>{pageTitle}</h1>
      </hgroup>
      <p>
        코드와 디자인이 만나는 지점에서 더 나은 소프트웨어를 만들기 위한 고민과 통찰을 기록합니다. 기술과 디자인, 두 세계의 경계에서 얻은 개발 이야기.
      </p>
    </section>
    <section>
      <hr /> 
      <hgroup>
        <Heading 
          title="Featured"
          heading="3"
          description=""
        />
      </hgroup>
      <Featured />
    </section>
    <hr />
    <section>
      <hgroup>
        <Heading
          title="Latest posts"
          heading="3"
          description=""
        />
      </hgroup>
      <LatestPosts />
      <p>
        <small>
          For more posts,
          <a href="/blog/">to here.</a>
        </small>
      </p>
    </section>
    <!-- <hr />
    <section>
      <hgroup>
        <Heading title="Recent projects" heading="3" description="" />
      </hgroup>
      <RecentProjects />
      <p>
        <small>
          For my featured projects, please visit my
          <a href="https://www.github.com/san-ghun">Github</a>
        </small>
      </p>
    </section> -->
  </main>
</BaseLayout>
