---
interface Props {
  url: string;
  title: string;
  pubDate: Date;
  description: string;
}

const { url, title, pubDate, description } = Astro.props;
---

<li class="post-item">
  <a href={url} class="post-title">{title}</a>
  <p class="post-description"><i>{description}</i></p>
  <small class="post-date">
    {pubDate.toLocaleDateString("ko-KR", {
      month: "long",
      day: "numeric",
      year: "numeric",
    })}
  </small>
</li>

<style>
  .post-item {
    margin: 0 0 1.5rem;
  }

  .post-item:last-child {
    margin-bottom: 0;
  }

  .post-title,
  .post-title:visited {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 0.35rem;
  }

  .post-title:hover,
  .post-title:focus {
    text-decoration: underline;
  }

  .post-description {
    margin: 0 0 0.35rem;
  }

  .post-date {
    display: block;
    margin: 0;
  }
</style>
